.content
  .container-fluid
    .row
      .col-md-8
        .card
          .card-header.card-header-primary
            %h4.card-title= @person.full_name
            %p.card-category !!! TODO Edyt whn user exists
          .card-body
            = render 'form'
            -# %form
            -# %th Title
            -# %th First name
            -# %th Last name
            -# %th Telephone
            -# %th Mobile phone
            -# %th Job title
            -# %th DOB
            -# %th Gender
            -# %th Keywords
            -# %th Notes
            -# %th
            -# %th
