%section.section.section-features#features
  .container
    .row
      .col-md-8.ml-auto.mr-auto   
        %h2.title Why our product is the best
        %h5.description This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.
    .row.ml-auto.mr-auto
      .col-md-3
        .info
          .icon.icon-info.text-center
            %i.material-icons email
          %h4.info-title.text-center Free Chat
          %p Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.
      .col-md-3
        .info
          .icon.icon-success.text-center
            %i.material-icons verified_user
          %h4.info-title.text-center Verified Users
          %p Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.
      
      .col-md-3
        .info
          .icon.icon-danger.text-center
            %i.material-icons group_work
          %h4.info-title.text-center Collaborate
          %p The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before.
      
      .col-md-3
        .info
          .icon.icon-success.text-center
            %i.material-icons location_on
          %h4.info-title.text-center Location Integrated
          %p Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.
      
