-# .fixed-plugin
-#   .dropdown.show-dropdown
-#     %a{"data-toggle" => "dropdown", :href => "#"}
-#       %i.fa.fa-cog.fa-2x
-#     %ul.dropdown-menu
-#       %li.header-title Sidebar Filters
-#       %li.adjustments-line
-#         %a.switch-trigger.active-color{:href => "javascript:void(0)"}
-#           .badge-colors.ml-auto.mr-auto
-#             %span.badge.filter.badge-purple{"data-color" => "purple"}
-#             %span.badge.filter.badge-azure{"data-color" => "azure"}
-#             %span.badge.filter.badge-green{"data-color" => "green"}
-#             %span.badge.filter.badge-warning{"data-color" => "orange"}
-#             %span.badge.filter.badge-danger{"data-color" => "danger"}
-#             %span.badge.filter.badge-rose.active{"data-color" => "rose"}
-#           .clearfix
-#       %li.header-title Images
-#       %li.active
-#         %a.img-holder.switch-trigger{:href => "javascript:void(0)"}
-#           %img{:alt => "", :src => "#{asset_pack_path 'sidebar-1.jpg'}"}/
-#       %li
-#         %a.img-holder.switch-trigger{:href => "javascript:void(0)"}
-#           %img{:alt => "", :src => "#{asset_pack_path 'sidebar-2.jpg'}"}/
-#       %li
-#         %a.img-holder.switch-trigger{:href => "javascript:void(0)"}
-#           %img{:alt => "", :src => "#{asset_pack_path 'sidebar-3.jpg'}"}/
-#       %li
-#         %a.img-holder.switch-trigger{:href => "javascript:void(0)"}
-#           %img{:alt => "", :src => "#{asset_pack_path 'sidebar-4.jpg'}"}/
-#       %li.button-container
-#         %a.btn.btn-primary.btn-block{:href => "https://www.creative-tim.com/product/material-dashboard", :target => "_blank"} Free Download
-#       /
-#         <li class="header-title">Want more components?</li>
-#         <li class="button-container">
-#         <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
-#         Get the pro version
-#         </a>
-#         </li>
-#       %li.button-container
-#         %a.btn.btn-default.btn-block{:href => "https://demos.creative-tim.com/material-dashboard/docs/2.1/getting-started/introduction.html", :target => "_blank"}
-#           View Documentation
-#       %li.button-container.github-star
-#         %a.github-button{"aria-label" => "Star ntkme/github-buttons on GitHub", "data-icon" => "octicon-star", "data-show-count" => "true", "data-size" => "large", :href => "https://github.com/creativetimofficial/material-dashboard"} Star
-#       %li.header-title Thank you for 95 shares!
-#       %li.button-container.text-center
-#         %button#twitter.btn.btn-round.btn-twitter
-#           %i.fa.fa-twitter
-#           · 45
-#         %button#facebook.btn.btn-round.btn-facebook
-#           %i.fa.fa-facebook-f
-#           · 50
-#         %br/
-#         %br/
-# / Core JS Files
-# %script{:src => "../assets/js/core/jquery.min.js"}
-# %script{:src => "../assets/js/core/popper.min.js"}
-# %script{:src => "../assets/js/core/bootstrap-material-design.min.js"}
-# %script{:src => "../assets/js/plugins/perfect-scrollbar.jquery.min.js"}
-# / Plugin for the momentJs
-# %script{:src => "../assets/js/plugins/moment.min.js"}
-# / Plugin for Sweet Alert
-# %script{:src => "../assets/js/plugins/sweetalert2.js"}
-# / Forms Validations Plugin
-# %script{:src => "../assets/js/plugins/jquery.validate.min.js"}
-# / Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard
-# %script{:src => "../assets/js/plugins/jquery.bootstrap-wizard.js"}
-# / Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select
-# %script{:src => "../assets/js/plugins/bootstrap-selectpicker.js"}
-# / Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/
-# %script{:src => "../assets/js/plugins/bootstrap-datetimepicker.min.js"}
-# / DataTables.net Plugin, full documentation here: https://datatables.net/
-# %script{:src => "../assets/js/plugins/jquery.dataTables.min.js"}
-# / Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs
-# %script{:src => "../assets/js/plugins/bootstrap-tagsinput.js"}
-# / Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput
-# %script{:src => "../assets/js/plugins/jasny-bootstrap.min.js"}
-# / Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar
-# %script{:src => "../assets/js/plugins/fullcalendar.min.js"}
-# / Vector Map plugin, full documentation here: http://jvectormap.com/documentation/
-# %script{:src => "../assets/js/plugins/jquery-jvectormap.js"}
-# / Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
-# %script{:src => "../assets/js/plugins/nouislider.min.js"}
-# / Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert
-# %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"}

-# / Library for adding dinamically elements
-# %script{:src => "../assets/js/plugins/arrive.min.js"}
-# / Google Maps Plugin
-# %script{:src => "https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"}
-# / Chartist JS
-# %script{:src => "../assets/js/plugins/chartist.min.js"}
-# / Notifications Plugin
-# %script{:src => "../assets/js/plugins/bootstrap-notify.js"}
-# / Control Center for Material Dashboard: parallax effects, scripts for the example pages etc
-# %script{:src => "../assets/js/material-dashboard.js?v=2.1.2", :type => "text/javascript"}
-# / Material Dashboard DEMO methods, don't include it in your project!
-# %script{:src => "../assets/demo/demo.js"}
:javascript
  $(document).ready(function() {
    $().ready(function() {
      $sidebar = $('.sidebar');

      $sidebar_img_container = $sidebar.find('.sidebar-background');

      $full_page = $('.full-page');

      $sidebar_responsive = $('body > .navbar-collapse');

      window_width = $(window).width();

      fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

      if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
        if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
          $('.fixed-plugin .dropdown').addClass('open');
        }

      }

      $('.fixed-plugin a').click(function(event) {
        // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
        if ($(this).hasClass('switch-trigger')) {
          if (event.stopPropagation) {
            event.stopPropagation();
          } else if (window.event) {
            window.event.cancelBubble = true;
          }
        }
      });

      $('.fixed-plugin .active-color span').click(function() {
        $full_page_background = $('.full-page-background');

        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-color', new_color);
        }

        if ($full_page.length != 0) {
          $full_page.attr('filter-color', new_color);
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.attr('data-color', new_color);
        }
      });

      $('.fixed-plugin .background-color .badge').click(function() {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('background-color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-background-color', new_color);
        }
      });

      $('.fixed-plugin .img-holder').click(function() {
        $full_page_background = $('.full-page-background');

        $(this).parent('li').siblings().removeClass('active');
        $(this).parent('li').addClass('active');


        var new_image = $(this).find("img").attr('src');

        if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          $sidebar_img_container.fadeOut('fast', function() {
            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $sidebar_img_container.fadeIn('fast');
          });
        }

        if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $full_page_background.fadeOut('fast', function() {
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
            $full_page_background.fadeIn('fast');
          });
        }

        if ($('.switch-sidebar-image input:checked').length == 0) {
          var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
          $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
        }
      });

      $('.switch-sidebar-image input').change(function() {
        $full_page_background = $('.full-page-background');

        $input = $(this);

        if ($input.is(':checked')) {
          if ($sidebar_img_container.length != 0) {
            $sidebar_img_container.fadeIn('fast');
            $sidebar.attr('data-image', '#');
          }

          if ($full_page_background.length != 0) {
            $full_page_background.fadeIn('fast');
            $full_page.attr('data-image', '#');
          }

          background_image = true;
        } else {
          if ($sidebar_img_container.length != 0) {
            $sidebar.removeAttr('data-image');
            $sidebar_img_container.fadeOut('fast');
          }

          if ($full_page_background.length != 0) {
            $full_page.removeAttr('data-image', '#');
            $full_page_background.fadeOut('fast');
          }

          background_image = false;
        }
      });

      $('.switch-sidebar-mini input').change(function() {
        $body = $('body');

        $input = $(this);

        if (md.misc.sidebar_mini_active == true) {
          $('body').removeClass('sidebar-mini');
          md.misc.sidebar_mini_active = false;

          $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

        } else {

          $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

          setTimeout(function() {
            $('body').addClass('sidebar-mini');

            md.misc.sidebar_mini_active = true;
          }, 300);
        }

        // we simulate the window Resize so the charts will get updated in realtime.
        var simulateWindowResize = setInterval(function() {
          window.dispatchEvent(new Event('resize'));
        }, 180);

        // we stop the simulation of Window Resize after the animations are completed
        setTimeout(function() {
          clearInterval(simulateWindowResize);
        }, 1000);

      });
    });
  });
:javascript
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    md.initDashboardPageCharts();

  });
