%footer.footer
  .container-fluid
    %nav.float-left
      %ul
        %li
          %a{:href => "https://www.creative-tim.com"}
            Creative Tim
        %li
          %a{:href => "https://creative-tim.com/presentation"}
            About Us
        %li
          %a{:href => "http://blog.creative-tim.com"}
            Blog
        %li
          %a{:href => "https://www.creative-tim.com/license"}
            Licenses
    .copyright.float-right
      ©
      :javascript
        document.write(new Date().getFullYear())
      , made with
      %i.material-icons favorite
      by
      %a{:href => "https://www.creative-tim.com", :target => "_blank"} Creative Tim
      for a better web.
-# = google_maps_api_script_tag