.page-header.header-filter.clear-filter.purple-filter#moje-tlo{"data-parallax" => "true"}
  .container
    .row
      .col-md-8.ml-auto.mr-auto
        .brand
          %h1 Material Kit.
          %h3 A Badass Bootstrap 4 UI Kit based on Material Design.