.page-header.header-filter.clear-filter.purple-filter
  .container
    -# logo
    .row
      .col-md-8.ml-auto.mr-auto
        %h2.title.text-left Connecting great jobs to great candidates
    = render 'pages/shared/search'
.main.main-raised
  = render 'pages/shared/submenu'
  .container
    .col-12
      .navigation-pils
        %ul.nav.nav-pills.nav-pills-primary.nav-pils-icons{role:"tablist"}
          %li.nav-item
            
            %a.nav-link.active{href:'#dashboard-1', role: "tab", "data-togggle": "tab"}
              Dashboard
              %i.material-icons
                dashboard
          %li.nav-item
            %a.nav-link{href:'#dashboard-2', role: "tab", "data-togggle": "tab"}
              Dashboard
              %i.material-icons
                schedule
          %li.nav-item
            %a.nav-link{href:'#dashboard-3', role: "tab", "data-togggle": "tab"}
              Dashboard
              %i.material-icons
                dashboard
        .tab-content.tab-space
          .tab-pane.active#dashboard-1
            %p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
          .tab-pane#dashboard-2
            %p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
          .tab-pane#dashboard-3
            %p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.

  = render 'pages/shared/features'
  = render 'pages/shared/socials'
.container.sharing-area.p-5
  .row
    .col-md-12.justify-content-center.text-center
      %h3 Thank you for supporting us!
      %a#twitter.btn.btn-raised.btn-twitter{:href => "https://twitter.com/CreativeTim", :rel => "nofollow"}
        %i.fa.fa-twitter
        Tweet
      %a#facebook.btn.btn-raised.btn-facebook{:href => "https://www.facebook.com/CreativeTim", :rel => "nofollow"}
        %i.fa.fa-facebook-square
        Facebook
      %a#instagram.btn.btn-raised.btn-instagram{:href => "https://www.instagram.com/CreativeTimOfficial", :rel => "nofollow"}
        %i.fa.fa-instagram
        Instagram
      %a#github.btn.btn-raised.btn-github{:href => "https://github.com/creativetimofficial/material-kit", :rel => "nofollow", :target => "_blank"}
        %i.fa.fa-github
        Star



      