.content
  = content_for :submenu, ""
  .container-fluid
    .row
      .col-md-8
        .card
          .card-header.card-header-primary
            %h4.card-title New Company
            %p.card-category !!! TODO Edyt whn user exists
          .card-body
            = render 'form'
            = link_to 'Back', companies_path