// @import "bootstrap";
// @import "../stylesheets/material-kit.scss";
@import "../stylesheets/material-dashboard.scss";
@import '@fortawesome/fontawesome-free';
// @import "_my-chartist-settings.scss";
@import "chartist/dist/scss/chartist.scss";

#moje-tlo {
  background-image: url("../images/bg2.jpg");
  transform: translate3d(0px, 0px, 0px);
}
#main-background {
  background-image: url("../images/bg2.jpg");
  transform: translate3d(0px, 0px, 0px);
}
.notifications {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  z-index: 1030;
}