.main {
  background: #ffffff;
  position: relative;
  z-index: 3;
}
.box-shadow {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.form-check,
label {
  font-size: 14px;
  line-height: 1.42857;
  color: #AAAAAA;
  font-weight: 400;
}

.card-container {
  // display: none;
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.main-raised {
  margin: -60px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.margin-top-minus{
  position: relative;
  top: -2.5rem;
}
.page-header > .bmd-form-group .form-control, .bmd-form-group label, .bmd-form-group input::placeholder{
  // color: white;
}
input::placeholder {
  // color: white;
}
#submenu-1 {
& * {
  margin-right: .2rem;
}

.nav-link {
  background-color: #00bcd4;

    &:hover { background-color: #08058f;}
    
  
}
}
.hidden {
  display: none;
}

.mapa  {
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // top: 5rem;
    left: 0;
    right: 0;
    // width: 33%;
    // float: right;
    // right: 5rem;
  z-index: 3000;
  // box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

}
#map {
  // position: relative;
  z-index: 2;
  width: 100%;
  height: (65vh)!important;
  margin-top: 0 !important;
  padding-bottom: 1rem;
}


#table_id {
  // width: 60%;

  .table-sm th, .table-sm td {
    padding: 0.3rem;
  }
}
#nudne{
  // width: fit-content;
  background: white;
}
.nav-pills .nav-item .nav-link {
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555;
  transition: all .3s;
  border-radius: 30px;
  padding: 5px 15px;
  margin: 1rem 0 1rem 0;
}
.nav-pills .nav-item .nav-link.active {
  
  color: #fff;
  background-color: #9c27b0;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}


.user-menu {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  background-color: white;
  .tab-space {
    padding: 0 0 10px 0;
  }

  #map {
    margin-top: 0rem !important;
  }
  .card.bmd-card-raised.card-form-horizontal {
    // display: none;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .mapa {
    // top: 1rem !important;
  }
  .user-menu {
    width: auto;
    padding-bottom: 0 !important;
    -webkit-transform: translate3d(0, -5rem, 0);
    -moz-transform: translate3d(0, -5rem, 0);
    -o-transform: translate3d(0, -5rem, 0);
    -ms-transform: translate3d(0, -5rem, 0);
    transform: translate3d(0, -5rem, 0);

    & .tab-space {
      
      // display: contents;
    }
    .map-container {
      padding-bottom: 10px;
    }
    #map {
      margin-top: 0!important;
    }
    
    ul.nav {
      flex-wrap: nowrap;
      padding: 0;
    }
  }
  .nav-pills .nav-item .nav-link {
    /* line-height: 24px; */
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    /* min-width: 100px; */
    text-align: center;
    color: #555;
    transition: all .3s;
    border-radius: 5px;
    padding: 5px 10px;
  }
  // #toggle-submenu {
  //   margin-left: 5px;
  //   margin-left: 0;
  //   margin-right: 50px;
  //   font-size: 10px;
  //   padding: 0px 0px;
  //   & i {
  //     padding:0;
  //   }
  //   &.nav-link.active, &.nav-link, &.nav-link i {
  //     // width: 20px;
      
  //     background-color: transparent;
  //     color: red;
  //     box-shadow: none;
  //   }
  // }
  
}