.main {
  background: #ffffff;
  position: relative;
  z-index: 3;
}

.form-check,
label {
  font-size: 14px;
  line-height: 1.42857;
  color: #AAAAAA;
  font-weight: 400;
}

.main-raised {
  // margin: -60px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.margin-top-minus{
  position: relative;
  top: -2.5rem;
}
.page-header > .bmd-form-group .form-control, .bmd-form-group label, .bmd-form-group input::placeholder{
  // color: white;
}
input::placeholder {
  // color: white;
}
#submenu {
& * {
  margin-right: .2rem;
}

.nav-link {
  background-color: #c258d4;

    &:hover { background-color: #af78ee;}
    
  
}
}