.content
  .container-fluid
    .row
      .col-lg-12.col-md-12
        .card
          // #successStatus
          #lookup_field
          %label Address Line One
          %input#first_line{:type => "text"}/
          %label Address Line Two
          %input#second_line{:type => "text"}/
          %label Address Line Three
          %input#third_line{:type => "text"}/
          %label Post Town
          %input#post_town{:type => "text"}/
          %label Postcode
          %input#postcode{:type => "text"}/